body {
	min-width: 1000px;
	height: 800px;
}

#menu {
	display: flex;
	position: fixed;
	align-items: center;
	margin-bottom: 0;
	min-height: 184px;
	z-index: 100;
	width: 100%;
}

.corner-text {
	display: inline-block;
	position: absolute;
	left: 9%;
	top: 30px;
}

.corner-menu h2 {
	display: inline-block;
	padding: 10px;
	font-size: 18px;
	margin: 0;
}

.corner-menu p {
	display: flex;
	align-items: center;
	padding: 5px;
}

.corner-menu p img {
	height: 16px;
	margin: 0 5px;
}

.corner-menu p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.content {
	display: flex;
	top: 0px;
	width: 100%;
	max-height: 100%;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.reminders {
	margin-left: 30px;
	position: absolute;
	left: 27%;
	top: 15px;
}

.reminders h2 {
	padding: 10px 0;
}

.setup-row {
	display: flex;
	align-items: center;
}

.hidden {
	display: none;
	/*visibility: hidden;*/
	height: 0;
}

.ui.segment .smaller {
	margin: -4rem 10px;
	margin-left: auto;
	padding: .5rem;
	width: 150px;
}

#questions .ui.selection.dropdown {
  margin: 14px 0 0 0;
}

.dot-one {
	height: 16px;
  width: 16px;
  background-color: red;
  border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.video-container {
	width: 45%;
	padding-left: 15px;
	margin-left: 15px;
}

.ui.small.image {
	width: 100px;
}

.flexalign {
	display: flex;
	position: relative;
	align-items: center;
}

.ui .modal img {
	height: 16px;
	margin-left: auto;
}

.flexalign p { 
	margin-top: 1rem;
	margin-bottom: 0;
	width: 200px;
}

.flexalign div {
	width: 100%;
}

.dropdown {
	margin-bottom: 15px;
	margin-top: 10px;
}

.ui.input>input, .ui.action.input>.button {
	margin-top: 1rem;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

#setupQ .delete-item {
	margin-left: 10px;
}

.q {
	padding: 5px;
	position: relative;
	padding-right: 20px;
}

.q:hover,.q-active {
	background-color: lightgrey;
	border-radius: 3px;
	cursor: pointer;	/*added style by Bishoy*/
}

.ui.header.q-header {
	margin-top: 1rem;
	width: 80%;  /* this is added by Bishoy*/
	float: right;  /* this is added by Bishoy*/
	font-size: 16px;
	padding: 7px;
	height: 35px;
}

.error {
	bordder-color: red;
}

.dot-one {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 9px;
}

.dot {
	font-size: 10px;
	padding-left: 10px;
}
.play-section {
	padding-top: 30px;
	padding-bottom: 10px;
}

.play-section img {
	height: 50px;
}

.play-section img:hover {
	background-color: lightgrey;
}

.vjs-time-divider {
	display: none !important;
}

#myVideo .vjs-control-bar, #myVideoSmall .vjs-control-bar {
	display: none !important;
}

#myWatchVideo .vjs-control-bar{
	display: block !important;
}

#myWatchVideo .vjs-control-bar div{
	display: none !important;
}

.vjs-duration {
	display: none !important;
}

.hidden {
	visibility: hidden;
	height: 0px;
}

.eighthundred {
	height: 20px;
	background-color: red;
	color: white;
	width: 600px;
	text-align: center;
	z-index: 100;
	position: fixed;
	margin-top: -5px;
}

.scroll-y {
	overflow-y: auto;
	height: 425px;
}

#play, #pause, #stop, #picture {
	width: 50px;
	text-align: center;
	display: inline-block;
}

#picture {
	width: 80px;
}

#picture img {
	padding-left: 10px;
	padding-right: 10px;
}

#code {
	margin: .75em;
}

.email-q {
	padding: 0 10px;
}

.folders {
	display: flex;
	position: fixed;
	top: 144px;
	width: 70%;
	z-index: 100;
}

.folders div {
	border: 1px solid lightgrey;
	flex: 1 1 60%;
	font-size: 1.1rem;
	line-height: 2.5rem;
	text-align: center;
	padding: 2px 0 0 0;
	letter-spacing: 1px;
	background-color: #f3f4f5;
	border-bottom: 1px solid transparent;
}

.folders div.active {
	border-bottom: 3px solid #99b3ff;
}

#recordtab {
	border-right: none;
}

#recordtab, #watchtab {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
}

#myWatchVideo {
	margin-top: 85px;
}

.record-container{
	position: fixed;	
	left: 51%;
	top: 180px;
}

#watchI {
	position: absolute;
	top: 120px;
	left: 2%;
	width: 100%;
	display: none;
}

.show {
	z-index: 10;
}

#watch .video-js .vjs-big-play-button {
	left: 44%;
	top: 45%;
}

.tab-img {
	height: 29px; 
	margin-top: 2px;
	margin-right: 8px;
}

.date-part {
	color: grey;
	padding-left: 15px;
	font-size: .9rem;
}

#watch {
	background-color: #e6e6e6;
	min-height: 600px;
}

.blockline-title {
	display: block;
}

#reminder {
	position: absolute;
	top: 0px;
	right: 140px;
	letter-spacing: 1px;
}

.modal-pad {
	margin: 10px 0;
}

.coll {
	position: absolute;
    top: 28px;
	right: 0;
	letter-spacing: 1px;
	/*max-width: 275px;*/
	overflow: hidden;
	z-index: 100;
}

.coll p {
	padding: 0;
	margin-bottom: 0;
	margin: 5px 0;
	justify-content: center;
}

.coll button {
	background-color: green;
	border: 0;
	padding: 4px;
	color: white;
}

.big-q {
	padding-right: 0px;
	width: 75%;
	margin-top: -5px;
	font-size: 32px !important;
}

#myVideoSmall {
	margin-left: 40px;
} 

.ui.green.button, .ui.red.button{
	width: 94px;
	font-size: .8rem;
}

.hiddenVideo {
	display: none;
}

#myVideo {
	margin-top: -5px;
}


/*added style by Bishoy*/

.sidemenu {
	width: 50%;
	padding: 15px 0 0 15px;
}

.quantity_bar {
	width: 20%;
	border-right: 3px solid #99b3ff; 
	border-radius: 1.5px;
	margin-right: 3px;
}

#quan_title{
	padding: 10px 0 10px 0;
	/*border-bottom: 2px solid lightgrey;*/
}

#quan_title p {
	margin: 0 8% 0 8%;
}

#quan_title_border {
	width: 70%;
	border-bottom: 2px solid lightgrey;
	border-radius: 1px;
}

.main_bar {
	/*border-left: 3px solid #99b3ff; */
	margin-top: 8em;
	padding-top: 5em;
	padding-left: 1em;
	width: 100%;
	/*height: 50px;
	overflow: auto;*/
}

.main_bar {
	text-align: center;
}

#questionWrapper {
	/*margin-top: -5px;*/
	float: right;
	width: 98%;
	height: 190px;
	margin-top: -190px;
	overflow: scroll;
}

#questionSection {
	/*margin-top: -5px;*/
	min-height: 200px;
	height: 1000px;
}

/*#questionSectionWatch {
	float: right;
	width: 98%;
	height: 190px;
	margin-top: -190px;
}*/

#questionSection h3 {
	float: right;
	width: 80% !important;
}

#questionSection .ui.header {
	font-size: 16px;
	padding: 7px;
	height: 35px;
	margin-bottom: 5px !important;
}

.counter {
	width: 10%;
	color: #99b3ff;
	padding: 5px;	
}

.counter:hover {
	cursor: pointer;
}

.watch_guide {
	text-align: -webkit-center;
	margin-left: 15%;
}

.watch_guide span {
	color: #99b3ff;
}

.watch_guide span:hover {
	cursor: pointer;
}

#mainimage:hover {
	cursor: pointer;
}

#file_date_table{
	background-color: #f3f4f5;
	margin-top: 0.5rem;
	height: 230px;
}

#file_date_table table th {
	padding-top: 5px;
	padding-bottom: 5px;
}

#file_date_table table td {
 	padding-top: 0;
	padding-bottom: 0;
}

#watchtab:hover, #recordtab:hover {
	cursor: pointer;
}

#record, #watch {
	position: absolute;
	top: 180px;
}

.category_select {
	width: 150%;
}

.category_select div{
	display: inline-block;
}

.watch_container {
	position: fixed;
	left: 50%;
}

#coll {
	position: absolute;
	top: 0px;
	right: 20px;
	letter-spacing: 1px;
}

#mainimage {
	position: absolute;
	top: 30px;
}

.question-big {
	margin-right: 0px;
}

.tooltiptext {
  opacity: 0;
  transition: opacity 0.5s;
  width: 50px;
  font-size: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 121;
  top: 100%;
  left: 50%;
  margin-left: 0px;
}

.play-section div:hover .tooltiptext {
  opacity: 1;
}

.play-section div .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.main_bar .dropdown {
	display: block !important;
}

.watch_quantity_bar {
	margin-top: -45px;
	height: 260px;
}

